/* SearchBar.module.css */

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
    height: 60px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.searchInput {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
    height: 60px;
    background-color: #f0f0f0; /* Light gray background */
    border: 2px solid #ccc; /* Slightly thicker border */
    border-radius: 8px 0 0 8px; /* Rounded corners */
    padding: 25px 30px; /* Even larger padding for a bigger input */
    font-size: 22px; /* Further increased font size */
    
    color: #333;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
    height: 60px;
    border-color: #0074e4; /* Blue border on focus */
    outline: none;
}

.searchInput::placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
    height: 60px;
    color: #aaa;
    font-style: italic;
}

.searchButton {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #0074e4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #005bb5;
}